{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3">Добавить фильм</h1>

{% if form.non_field_errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors }}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}

    <div class="col-12 col-md-6">
        {{ form.title.label_tag }}
        {{ form.title }}
        {% for error in form.title.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col-12 col-md-6">
        {{ form.year.label_tag }}
        {{ form.year }}
        {% for error in form.year.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col-12 col-md-6">
        {{ form.category.label_tag }}
        {{ form.category }}
        {% for error in form.category.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col-12 col-md-6">
        {{ form.genre.label_tag }}
        {{ form.genre }}
        <div class="form-text">Можно выбрать несколько (Ctrl/⌘ + click).</div>
        {% for error in form.genre.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col-12">
        {{ form.image.label_tag }}
        {{ form.image }}
        {% for error in form.image.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col-12">
        {{ form.description.label_tag }}
        {{ form.description }}
        {% for error in form.description.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-success">Создать</button>
        <a href="/movies/" class="btn btn-outline-secondary">Отмена</a>
    </div>
</form>
{% endblock %}
